/* Estilos reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*BODY*/
body {
background-image: url(img/pexels-annam-w-1738675.jpg);
background-repeat: no-repeat;
background-size:100% 100%;
margin-top: 2px;
align-items: center;
max-width: 100%;
}

h1 {
text-align: center;
color:rgb(255, 255, 255);
font-size: 5rem;
font-family: system-ui;
letter-spacing: 10px;
}

/*main*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vw;
}

p{
    text-align: center;
    font-family: system-ui;
    font-size: 150%;
    letter-spacing: 0px;
}

/*imagen principal*/
img{
    width: 100%;
    box-shadow: 0px 0px 20px 10px #45415e;
    margin: 30px 0px;
}

/*ABOUT ME */
.descripcion-container {
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-top: 2px;
}

/*footer*/
footer{
    padding-top: 60px;
    padding-bottom: 10px;
    background-color:#85A6D9 ;
    display: flex; 
    justify-content: center; 
    align-items: center;
    display: block;
    margin-top: 2px;
}

#footer-des{
    text-align: center;
    font-family: system-ui;
    color: white;
    padding-bottom: 30px;

}

/*Música*/
.musica-title {
    margin-top: 40px;
    font-size: 5rem;
    text-align: center;
    color: #f7f8f8;
    font-family: system-ui;
    letter-spacing: 10px;
}

.caja-musica-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.caja-musica {
    display: flex;
    flex-direction: column;
    width: 325px; 
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px;
    background-color: #000;
    font-family: system-ui;
}

.caja-musica-artist {
    font-size: 28px;
    margin-top: 10px;
}

.musica-cubo-img {
    max-width: 100%;
    height: auto;
}
.caja-musica-title{
    font-size: 16px;
    margin-top: 10px;
}

.musica-cubo1, .musica-cubo2, .musica-cubo3 {
    background-color: rgb(237, 192, 192);
}

/*responsive*/
@media (max-with:600px)
body{ 
    font-size: 16px;
}
.container{
    flex-direction: colum;
}
.footer{
    font-size: 16px;
}